/* .paginacion{
    background-color: #165564;
    background: linear-gradient(rgba(255, 255, 255, 0.75),rgba(223, 223, 223, 0.75)); 
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 0.4em solid red; 
} */
.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px; 
    padding-bottom: 24px;
    margin-bottom: 10px;
    
}

.pagination button{
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: #ff0000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

